<div class="container-fluid container-height row">
  <div class="col-md-3 col-sm-2 col-xs-12 " >
    <div class="portfolio-button edit-portfolio-button">
      <%= link_to 'Edit Portfolio', edit_portfolio_path(@portfolio) , :class => '', :style => '' %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 border bg-light big-container">
    <div class= "form-container-portfolio border">
      <%= render 'shared_portfolio', portfolio: @portfolio %>
    </div>
  </div>
  <% if @sub_view == "about" %>
    <div class="edit_button ml-4">
      <div class="button">
        <%= link_to 'Edit', edit_about_me_path(@portfolio.about_me) , :class => '', :style => '' %>
      </div>
    </div>
  <% elsif @sub_view.include? "project" %>
    <div class="project_buttons mt-4 ml-4" >
      <div class="proj-button">
        <% proj = @sub_view.split(',')[1].to_i %>
        <div>
          <%= link_to 'Edit Project', edit_project_path(@portfolio.projects[proj]), :class => '', :style => '' %>
        </div>
        <div class="proj-button2 mt-4">
          <%= link_to 'Delete Project', project_path(@portfolio.projects[proj]), method: :delete, :class => '', :style => 'color:red;' %>
        </div>
        <div class="add_feature_button">
          <%= link_to 'Add Feature', new_feature_path("feature" => {project_id: @project.id}, sub_view: proj), :class => '', :style => '' %>
        </div>
      </div> 
    </div>
  <% end %>
</div>
