<nav class="navbar navbar-expand-sm">
  <div class="nav_container">
    <div class="login_links">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
     <% end %>
    </div>
    <div class="nav_links">
      <div class="portfolio_links">
        <%= link_to 'Create Portfolio', new_portfolio_path, :class => '', :style => 'color:white;' %> |
        <%= link_to 'Search Portfolios', portfolios_path, :class => '', :style => 'color:white;' %>
        <% if current_user&.portfolio.present? %>
          | <%= link_to 'Shared Portfolio', show_shared_portfolio_path(current_user.portfolio, sub_view: 'about'), :class => '', :style => 'color:white;' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

